.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scrollable-menu {
  max-height: 200px; /* Set your desired max height */
  overflow-y: auto;
  color:aqua
}

.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  position: fixed;
  width: 100%;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.main{
  width: 150%;
   position: fixed;
   margin-left:25%;
   margin-top:5%;
}
.chart{
  height: 500px;
   width: 700px;
}
.headingStyle  {
  text-align: center;
};

.dropDownStyle {
  overflow-y: auto;
  max-height: 200px;
};